.post-item {
  display: flex;
  margin-bottom: 16px;
}

.post-content {
  display: flex;
  flex-direction: column;
}

.post-title {
  color: #444;
  font-size: 16px;
}

.post-details {
  color: #8c8c8c;
  font-size: small;
  margin-top: 16px;
}

.post-details-separator {
  color: lightgray;
  margin: 0 5px;
}

.delete-bt,
.edit-bt {
  color: #000;
}
