.category-list {
  display: flex;
}

.category-name {
  color: #fff;
  text-decoration: none;
}

.category-name:hover {
  text-decoration: underline;
}

.category-name:focus {
  color: #333;
  outline: 0;
}

.category-separator {
  color: #fff;
  margin: 0 5px;
}