.new-post {
  padding: 10px;
}

.new-post-form {
  display: flex;
  flex-direction: column;
}

.post-form input,
.post-form textarea,
.post-form select {
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  margin-bottom: 8px;
  padding: 5px;
  width: 500px;
}

.post-form textarea {
  margin-bottom: 3px;
}

.post-form textarea:focus,
.post-form input:focus,
.post-form select:focus {
  outline: 0;
}

.error-message {
  color: #fa1a13;
  font-size: 11px;
  margin-bottom: 8px;
}

.field.error input,
.field.error textarea {
  background-color: #fff6f6;
  border-color: #e0b4b4;
}

.submit-form-button {
  background-color: #fa1a13;
  border-radius: 3px;
  border: 1px solid #fa1a13;
  color: #fff;
  font-family: 'Roboto';
  font-size: small;
  margin-top: 8px;
  padding: 4px 6px;
}

.submit-form-button:hover {
  background-color: #e51710;
  text-decoration: none;
}

.cancel-form-button {
  border-radius: 3px;
  border: 1px solid #fa1a13;
  color: #fa1a13;
  font-size: small;
  margin-left: 8px;
  padding: 4px 6px;
  text-decoration: none;
}

.cancel-form-button:hover {
  background-color: rgb(252, 234, 233);
  text-decoration: none;
}
