.posts-sort {
  align-items: baseline;
  color: #8c8c8c;
  display: flex;
  font-size: small;
  margin-bottom: 24px;
}

.sort-by {
  margin-right: 10px; 
}

.sort-type button {
  color: #8c8c8c;
  border: none;
  cursor: pointer;
  padding: 0;
}

.sort-type button:hover {
  text-decoration: underline;
}

.sort-type button:focus {
  outline: 0;
}

.post-details-separator {
  color: lightgray;
  margin: 0 5px;
}