.post-title {
  font-size: 18px;
  color: #444;
}

.post-details {
  color: #8c8c8c;
  font-size: small;
  margin-bottom: 20px;
}

.comment-content {
  border-left: 2px solid grey;
  padding: 1px 0px 1px 10px;
  background-color: whitesmoke;
}

.comment-details {
  font-size: small;
}