.menu-container {
  background-color: #FA1A13;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 16px;
  padding: 6px;
}

.menu-left {
  display: flex;
}

.logo {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  margin-left: 8px;
  margin-right: 24px;
}

.menu-right {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: small;
}

.create-post, .user-name {
  color: #fff;
  font-size: 14px;
  margin-right: 8px;
}

.separator {
  color: #fff;
  margin-right: 8px;
}