.comment-item {
  align-items: center;
  background-color: whitesmoke;
  border-left: 2px solid grey;
  display: flex;
  padding: 8px 0px 8px 10px;
  width: 500px;
}

.comment-content {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.comment-details {
  font-size: small;
  margin-top: 16px;
}

.comment-details-separator {
  color: lightgray;
  margin: 0 5px;
}
