.comment-item {
  align-items: baseline;
  background-color: whitesmoke;
  border-left: 2px solid grey;
  display: flex;
  padding: 1px 0px 1px 10px;
  width: 500px;
}

.comment-content {
  padding-left: 10px;
}

.comment-details {
  font-size: small;
}

.comment-details-separator {
  color: lightgray;
  margin: 0 5px;
}
